.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 3vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 8vh;
}

.questions {
  font-size: 2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  width: 75vw;
}

.personality {
  font-size: 3vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin: 1vw;
}

.personalityText {
  font-size: 2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  width: 75vw;
  margin-bottom: 2vw;
}

.addQ{
  font-size: 1vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  width: 75vw;
  margin-top: 2vw;
  color:  rgba(76, 182, 168, 0.7);
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}
.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: #77a582;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 5px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(76, 175, 182, 0.4);
}

.button:active {
  background-color: rgba(76, 175, 182, 0.4);
}

.asyncButton {

  position: relative;
}

.asyncButton:after {
  content: "";
  background-color: rgba(112, 76, 182, 0.15);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}

@media (max-width: 768px) {
  .title {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-top: 8vh;
  }

  .questions {
    font-size: 5vw;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    width: 75vw;
    padding-bottom: 5vh;
  }

  .personality {
    font-size: 5vw;

    margin: 2vw;
  }

  .personalityText {
    font-size: 4.2vw;
    margin-bottom: 5vw;
  }

  .button {
    font-size: 5vw;
    min-width: 38vw;
    min-height: 12vw;
    padding: 4vw;
  }
}
